<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1> Elements are awesome</h1>
    <ul>
        <% elements.forEach((t) => { %>
            <li>
                <%= t.element %>
                -
                <%= t.mastered ? 'mastered' : 'not mastered'%>
            </li>
        <% }); %>
    </ul>
</body>
</html>
